#cadre{
    border: solid 1px gray;
    background-color: lightgrey;
    height: 250px;
    width: 400px;
}

h1{
   text-align: center;
}

.pseudo, .mdp{
    margin-left: 30px;
    padding: 5px;
}

.coche{
    margin-left: 25px;
    padding: 5px;
}

.button{
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}

.bordure{
    border: 2px black;
    border-radius: 0px;
    border-style: outset;
}

span{
    padding: 5px;
}

input:checked{
    margin-right: 10px;
}

input[type="text"], input[type="password"]{
    margin-left: 20px;
} 