#rn{
  position: absolute;
  width: 61px;
  height: 68px;
  left: 31px;
  top: 2px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 190%;
/* or 68px */
color: #FFFFFF;
margin-top: 3px;
display: flex;
}

#point{
border-radius: 50px;
height: 6px;
width: 6px;
background-color: #41EAD4;
position: absolute;
left: 51px;
top: 42.5px;
}

#menu{
  position: absolute;
  width: 64.53px;
  height: 62px;
  left: 292px;
  top: 5px;
  background: #00C9E0;
  box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
  border-radius: 45px;
  margin-top: 1.38px;
}

#lines{
  position: absolute;
  right: 35px;
  top: 26.5px;
  bottom: 23.53%;
  border: 2px solid;
  border-color:  #000000 #00C9E0;
  width: 25.59px;
  height: 17px;
}

#lineb{
  position: absolute;
  width: 27.5px;
  height: 2px;
  left: 311px;
  top: 36px;
  background: black;
  border-radius: 16px;
}

#linew{
  position: absolute;
  width: 11.59px;
  height: 2px;
  left: 352.68px;
  top: 35px;
  background: #FFFFFF;
  border-radius: 16px;
}

.page1{
  background-image: url(ganapathy-kumar-GLmhbqbn1WA-unsplash\ 1.png);
  background-position: top center;
  width: 375px;
  height: 1403.56px;
  top: -96.38px; 
  position: absolute;
  left: 0%;
  right: 0%;
  top: -1.46%;
  bottom: 80.21%;
  margin-top: 20px;
}

h1{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  position: absolute;
  left: 0.8%;
  right: 4.18%;
  top: 1.49%;
  bottom: 93.81%;
}

h2{
  font-family: 'ABeeZee';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  left: 2.4%;
  right: -1.33%;
  top: 6.19%;
  bottom: 93.24%;
  margin-top: 325px;
}

#p1{
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  width: 278px;
  height: 305px;
  left: 60px;
  top: 492px;
}

h3{

}

#p2{
position: absolute;
width: 250px;
height: 58px;
left: 60px;
top: 1250px;
font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;
}

#effet{
position: absolute;
width: 375px;
height: 540px;
top: 775px;
background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%);

}

#title2{
width: 375px;
height: 491px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 110%;
/* or 79px */
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;
display: block;
margin-top: 340px;
}

.page2{
  background-color: #011627;
  height: 337px;
  width: 808px;
}

#image1{
  position: absolute;
height: 270.09px;
left: 29.06px;
top: 1433.04px;
background: url(joe-mania-tyAAl6r_c2U-unsplash.jpg);
border-radius: 8px;
}
