body{
    background-color: lightblue;
}

h1{
    text-align: center;
    color: brown;
}

.banniere{
    height: auto;
    width: auto;
    background-color: aquamarine;
}

.videoyt{
    margin-top: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
}

img{
    height: 200px;
    width: 250px;
    margin-left: 25px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: auto;
    width: auto;
}

video{
    border: solid 2px lightcyan;
    height: 400px;
    width: auto;
    margin: 10px 15px 10px 5px;
}

.video{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    align-content: center;
}

#music{
    display: grid;
    align-content: center;
    justify-content: center;
    border: dotted 5px coral;
    border-radius: 10%;
}

