body{
    font-family: sans-serif;
}

#cadre{
    background-color: #f1f1f1;
    height: auto;
    width: auto;
    padding: 10px;
}

h1{
    font-size: 25px;
    color: #cccccb;
    text-shadow: 0.7px 0.1px 0px rgb(184, 180, 180);
}

h3{
    color: gray;
}

.option{
    background-color: white;
    margin: 15px;
    padding: 10px;
}

.proprietes{
    color: #5555ce;
    font-weight: bold;
}

@media screen and (max-width:640px){
    #option1{
        background-color: #5555ce;
        color: white;
    }
    #regle1, #regle4, #regle5{
        display: block;
}
}

@media screen and (min-width:800px){
    #option2{
        background-color: #5555ce;
        color: white;
    }
    .regle2, .regle6{
        display: block;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px){
    #option3{
        background-color: #5555ce;
        color: white;
    }
    .regle3, .regle6{
        display: block;
    
    }
}

@media screen and (max-width:480px){
    #option4{
        background-color: #5555ce;
        color: white;
    }
    .regle4, .regle5{
        display: block;
    
    }
}

@media screen and (orientation:portrait){
    #option5{
        background-color: #5555ce;
        color: white;
    }
    .regle5{
        display: block;
    
    }
}


@media screen and (orientation:landscape){
    #option6{
        background-color: #5555ce;
        color: white;
    }
     .regle6{
        display: block;
    
    }
}