body{
 display: flex;
}

article {
    width: 500px;
    height: 500px;
    background-color: #892be299;
}

/* 
.box {
    
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em;
  }
  
  .box > * {
    flex: 1;
  }
*/