.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dice{
  border-color: red;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 10px;
  width: 100px;
  height: 100px;  
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.point{
  border-color: lightgray;
  background-color: red;
  border-style: solid;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  }
.gauche{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.droite{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.milieu{
  display: flex;
  flex-direction: column;
}
/*Dé 6*/
.top{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bot{
  display: flex;
  flex-direction: column;
  gap: 10px;
}