@media only screen and (min-width: 400px){

    body{
        background-image: radial-gradient(at top center, #CCDAE0, #EDF2F4);
    }
    
    p{
        font-size: 1em;
    }
    
    #banniere{
        height: 80px;
        width: auto;
        background: linear-gradient(50deg,rgba(173, 28, 28, 0.712),rgba(255, 0, 0, 0) 70.71%), linear-gradient(-50deg, rgba(99, 170, 228, 0.664), rgba(0, 255, 0, 0) 70.71%), linear-gradient(0deg, rgba(32, 32, 226, 0.705), rgba(0, 0, 255, 0) 70.71%);
    }
    
    h1{
        text-align: center;
        text-shadow: 3px 3px 10px rgb(42, 42, 143);
        font-size: 1em;
    }
    
    h3{
        color: #2B2D42;
        font-size: larger;
        font-weight: bold;
        text-decoration-color : #2B2D42;
        text-decoration-line  : underline;
        text-decoration-style : dotted;
    }
    
    .article{
        border: solid 0.5px black;
    }
    
    img{
        border: solid 1px #8D99AE ;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        width: 300px;
        height: 400px;
    }
    
    footer{
        text-align: right;
    }
    
    ul {
        list-style-type: none;
        font-size: 1em;
        text-align: center;
        background-color: lightgray;
        display: flex;
        flex-direction: row;
        gap: 100px;
        justify-content: center;
    }
    
    a:link{
        color: #D90429;
        font-size: 1em;
    }
    
    a:visited{
        color: gray;
    }
    
    a:hover{
        color: #2B2D42;
    }
    
    .starsred{
        color: red;
    }

}